.git
.github
**/.DS_Store
**/node_modules
**/dist
**/dist-server
artifacts
artifacts-modern
docs
scripts
v1.0
v1.0-pre
v1.0-pre-modern
v2.1b
v2.5-beta-1
v2.5-beta-1-modern/*
!v2.5-beta-1-modern/comicart
!v2.5-beta-1-modern/comicart/**
